body{

background: linear-gradient(135deg,#020617,#021a3a,#003f5c);
color:white;
font-family:'Orbitron',sans-serif;
margin:0;
}

header{

text-align:center;
padding:30px;
color:#00ffd5;
font-size:28px;

}

.container{

display:flex;
justify-content:center;
gap:40px;
padding:40px;

}

.panel{

background:#000;
padding:30px;
border-radius:10px;
box-shadow:0 0 20px #00ffd5;

display:flex;
flex-direction:column;
width:300px;

}

label{

margin-top:10px;

}

input,select{

padding:10px;
margin-top:5px;
background:#021a3a;
border:none;
color:white;

}

button{

margin-top:20px;
padding:12px;
background:#00ffd5;
border:none;
font-weight:bold;
cursor:pointer;

}

button:hover{

background:#00a88f;

}

.resultado{

align-items:center;
text-align:center;

}

img{

width:200px;
margin-bottom:20px;

}
